<section class="section-tourist">
    <div class="container section-tourist__container">
        <h2 class="section-tourist__title">What Our Tourist Say</h2>
        <div class="section-tourist__box">
            <div class="section-tourist__image-wrapper">
                <img class="section-tourist__image" src="images/section-tourist.png" alt="tourist">
            </div>
            <div class="section-tourist__content">
                <h3 class="section-tourist__content-title">Sam Sumon</h3>
                <p class="section-tourist__content-text">
                    <span class="section-tourist__content-text-marked">"</span>But I must explain to you how all this
                    mistaken idea of account to denouncinpleasure and praising pain But I must explain to you how all
                    this mistaken idea of account to nai denouncing pleasure and praising pain was account born and I
                    account will give you a complete account of the system was account born and I account will give you
                    a nai the complete account of the system
                </p>
            </div>
        </div>
    </div>
</section>
