<section id="choose" class="section-choose">
    <div class="container section-choose__container">
      <div class="section-choose__content-box">
        <h2 class="section-choose__title">Why Choose Us</h2>
        <div class="section-choose__description">
          <p class="section-choose__text">
            Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
          </p>
          <p class="section-choose__text">
            Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
          </p>
        </div>
        <a class="button section-choose__button" href="#">Explore Places</a>
      </div>
      <div class="section-choose__image-box">
        <div class="section-choose__image-wrapper">
          <img class="section-choose__image" src="images/card-2.png" alt="card1">
        </div>
        <div class="section-choose__image-wrapper">
          <img class="section-choose__image" src="images/card-1.png" alt="card2">
        </div>
      </div>
    </div>
  </section>