<section id="whatdo" class="section-what-do">
  <div class="container section-what-do__container">
    <div class="section-what-do__line-wrapper">
      <div class="section-what-do__line"></div>
      <div class="section-what-do__line"></div>
    </div>
    <ul class="section-what-do__list">
      <li class="section-what-do__item">
        <div class="section-what-do__icon-wrapper">
          <img src="images/svg/search-large.svg" alt="search">
        </div>
        <h2 class="section-what-do__title">Search Places</h2>
      </li>

      <li class="section-what-do__item">
        <div class="section-what-do__icon-wrapper">
          <img src="images/svg/success.svg" alt="success">
        </div>
        <h2 class="section-what-do__title">Select Places</h2>
      </li>

      <li class="section-what-do__item">
        <div class="section-what-do__icon-wrapper">
          <img src="images/svg/ok.svg" alt="ok">
        </div>
        <h2 class="section-what-do__title">Book & Enjoy</h2>
      </li>
    </ul>
  </div>
</section>