.button {
    @include text($H200, 400, $white);
    text-transform: uppercase;
    letter-spacing: 0.075em;
    background-color: $btn-color;
    padding: 24px 38px 23px; 
    cursor: pointer;
    transition: all 0.2s ease;

    @include media($screen-desktop){
        &:hover {
            box-shadow: 0 2px 5px rgb(3, 131, 235);
        }
    }
}