.section-travel {
    background-image: url(../images/section-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

    @include media($screen-desktop) {
        padding-top: 229px;
    }

    &__travel-card {
        margin: 0 auto;

        @include media($screen-desktop) {
            margin-left: 0;
        }
    }
}